{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forgot_password.css') }}">
{% endblock %}  <!-- Missing endblock added here -->

{% block content %}
<div class="container">
    <h1>Password Reset for {{program}} Program</h1>
    <form action="{{ url_for('auth.forgot_password') }}" method="POST">
        <input type="hidden" name="program" value="{{program}}">
        
        <label for="email">Enter your registered email to reset your password:</label>
        <input type="email" id="email" name="email" required placeholder="Enter your email">
        <p>An OTP has been sent {{ email }} . Please check your email and enter the OTP below to verify your email address.</p>
        <p>OTP will expire in 5 mins</p>
        <button type="submit">Request Password Reset</button>
    </form>
</div>
{% endblock %}
