{% extends 'base.html' %}

{% block title %}Signin{% endblock %}

{% block content %}
<h1>Password Resett for {{program}} program !,PG-Admissions Gateway </h1>
<p>An OTP has been sent to {{ email }}. Please check your email and enter the OTP below to verify your email address.</p>
<p>OTP will expire in 5 mins</p>
<form action="{{ url_for('auth.forgot_password') }}" method="POST">
    <input type="hidden" name="program" value="{{program}}">
    <label for="email">Enter your email:</label>
    <input type="email" id="email" name="email" required>
    
    <button type="submit">Request Password Reset</button>
</form>
{% endblock %}
