{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <!-- <h2>Welcome to your Dashboard, {{ user_name }}!</h2>
    <p>Your Application Number: {{ application_number }}</p>
    <a href="{{ url_for('auth.home') }}">Go to Home</a>
    <a href="{{ url_for('app_form.page1') }}">Go to Page1</a>
    <a href="{{ url_for('app_form.page2') }}">Go to Page2</a>
    <a href="{{ url_for('app_form.page3') }}">Go to Page3</a>
    <a href="{{ url_for('app_form.pdf_generator') }}">Download Application form</a> -->
{% endblock %}
