{% extends 'base.html' %}

{% block title %}Signin{% endblock %}

{% block content %}
<h1>Reset Password | NCET-PG Applications Gateway</h1>
<form action="{{ url_for('auth.reset_password') }}" method="POST">
    <h2>Reset password for {{program}} program</h2>
    <input type="hidden" name="program" value="{{program}}">
    <label for="new_password">New Password:</label>
    <input type="password" id="new_password" name="new_password" required>

    <label for="confirm_password">Confirm New Password:</label>
    <input type="password" id="confirm_password" name="confirm_password" required>
    
    <button type="submit">Reset Password</button>
</form>
{% endblock %}
