{% extends 'base.html' %}

{% block title %}Ncet-Registration{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/signin.css') }}">
{% endblock %}

{% block content %}
<div class="signin-container">
    <div class="form-box">
    <!-- left half -->
    <div class="flash-message">
        <h5>Thank you for registering for the {{program}} program</h5>
        <!-- <h5>Design your application for the {{program}} program</h5> -->
    </div>
    <form action="{{ url_for('auth.signin') }}" method="POST">
        <input type="hidden" name="program" value="{{program}}">

        <h4>Login with your application number and password to submit your application for the {{program}} program.</h4>
        <div class="form-group">
            <label for="application_number">Application Number</label>
            <input type="text" id="application_number" name="application_number" class="input-field" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="input-field" required>
        </div>

        <button type="submit" class="btn">Signin</button>
        <div>
            <br/>
            <a id="forgot-app-number" href="javascript:redirectToForgotAppNumber()">Forgot Application number?</a>
            <br/>
            <br/>
            <a id="forgot-password" href="javascript:redirectToForgotPassword()">Forgot Password?</a>

            <script>
                var selected_program="{{program}}";

                var forgotAppNumberUrl="{{url_for('auth.forgot_application_number')}}";
                var forgot_passwordUrl="{{url_for('auth.forgot_password')}}";

                function redirectToForgotAppNumber(){
                    window.location.href=forgotAppNumberUrl + "?program=" + selected_program;
                }

                function redirectToForgotPassword(){
                    window.location.href=forgot_passwordUrl + "?program=" + selected_program;
                }
            </script>
        </div>
    </form>
</div>
</div>
</div>
{% endblock %}