{% extends 'base.html' %}

{% block title %}NCET Registration{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block content %}
<div class="container-slide">
    <!-- Signup Section -->
    <div class="signup-container">
        <div class="left-half">
            <div class="overlay">
                <h1 class="program-title">{{ program }}</h1>
                <p class="program-description">
                    Embark on your journey towards excellence and innovation with our cutting-edge programs!
                </p>
                <!-- <button class="btn btn-signin" onclick="redirectToSignin()">Sign In</button> -->
            </div>
            <div class="bubbles"></div>
        </div>
        <div class="right-half">
            <div class="already-registered">
                <span>Already registered for {{ program }} program?</span>
                <button class="btn btn-signin" onclick="redirectToSignin()">Sign In</button>
                
            <script>
                var selected_program="{{program}}";
                
                var signinUrl = "{{ url_for('auth.signin') }}";

                function redirectToSignin() {
                    window.location.href = signinUrl + "?program=" + selected_program;
                }
                
            </script>
            </div>

            <h2>Register for {{ program }} Program</h2>
            <form action="{{ url_for('auth.signup') }}" method="POST">
                <input type="hidden" name="program" value="{{ program }}">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="input-field" required>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="input-field" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="input-field" required>
                </div>

                <h1 class="note"><strong>Note:</strong> Upon creating your account, you will receive an application number to use for signing in.</h1>
                <br />
                <button type="submit" class="btn">Sign Up</button>
            </form>
        </div>
    </div>
{% endblock %}
