{% extends 'base.html' %}

{% block title %}Signin{% endblock %}

{% block content %}
<h1>Application Number Generation | OTP Verification</h1>
<p>An OTP has been sent to {{ email }}. Please check your email and enter the OTP below to verify your email address.</p>
<p>OTP will expire in 5 mins</p>
<form action="{{ url_for('auth.verify_application_number_otp') }}" method="post">
    <input type="hidden" name="program" value="{{program}}">
    <h2>{{program}} program</h2>
    <label for="otp">Enter OTP:</label>
    <input type="text" id="otp" name="otp" required>
    <button type="submit">Verify OTP</button>
</form>
{% endblock %}
