{% extends 'base.html' %}

{% block title %}Signin{% endblock %}

{% block content %}
<h1>Password reset OTP  Verification</h1>
<p>An OTP has been sent to {{ email }}. Please check your email and enter the OTP below to verify.</p>
<p>OTP will expire in 5 mins</p>
<form action="{{ url_for('auth.verify_password_reset_otp') }}" method="POST">
    <h2> reset password for {{program}} program</h2>
    <input type="hidden" name="program" value="{{program}}">
    <label for="otp">Enter OTP:</label>
    <input type="text" id="otp" name="otp" required>
    
    <button type="submit">Verify OTP</button>
</form>
{% endblock %}
